@import "../../../mixins.scss";
.contentWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    @include sm {
        width: 90%;
    }
    @include md {
        width: 80%;
    }
    @include lg {
        width: 70%;
    }
}